$main-bg-color:  #ffffff;
$main-border-color: #d9d9d9;
$gray-border-color: #d7d7d7;
$dark-grey-color: #4d4d4d;
$grey-color: #666666;
$black-color: #333333;
$dark-black-color: #000000;
$gray-bg-color: #797979;
$dark-white-color: #f6f6f6;
$sider-bg-color: #e3e3e3;